{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-sidenav-toggle as |toggle|}}
      {{#paper-button target=toggle action="toggleMenu" icon-button=true}}
        {{paper-icon icon="menu"}}
      {{/paper-button}}
    {{/paper-sidenav-toggle}}
    <span class="md-breadcrumb-page">{{model.name}}</span>
  </div>
{{/paper-toolbar}}
{{#paper-content class="chat-ui md-padding"}}
  <div class='messages'>
    {{#each model.messages as |chat|}}
      {{chat-message message=chat}}
    {{/each}}
  </div>
  <div class='chat-input'>
    {{input type='test'}}
  </div>
{{/paper-content}}
